@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
/* General */
html{
    border-right: 5px solid #7443FF;
    overflow-x: hidden;
}

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.ta-center{
    text-align: center;
}





html, body, * {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 0;
}

main{
    width:71%;
    margin: 0 auto;
}

.show-desktop{
    display: block;
}

h2{
    font-size: 32px;
}

p{
    /* font-size: 18px; */
    line-height: 2;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
}

main {
    padding: 0 5em 2em 5em; /* defining container whitespace */
}

/* Navigation */

.hide-desktop{
    display: none;
}

header {
    /* width: 85.4%; */
    margin:0 140px; /* defining container whitespace */
    height: 90px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

#brand{
    width: 50%;
    display: flex;
}

#myName{
    margin-left: 5%;
    letter-spacing: 5px;
}

.nav-bar {
   width: 500px;
   
}

.nav-list {
    display: flex;
    justify-content: space-between;
    
}

.nav-item { 
    display: block;
   text-align: center;
   text-align: right;
   white-space: nowrap;
   list-style-type: none;
   margin-left: 15px;
   letter-spacing: 1px;
   padding-bottom: 5px;

}

.nav-item a:hover {
    font-weight: bold;
    color: #7443FF;
    border-bottom: 3px solid #7443FF;
}


/* HERO SECTION */

/* Sets top and bottom padding for each section */
.section-wrapper{
    
}

.hero{
    height: 700px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center;  DELETE THIS */
    
}

.welcome-content{
    margin-right: 5%;
}

.welcome-content h1{
    padding: 80px 0 20px 0;
    height: auto;
    width: auto;
    font-size: 50px;
}

/* Call to action button styling */
.button{
    margin-top: 10%;
    font-weight: bold;
    color: white;
    background-color: #7443FF;
    width:163px;
    height: 48px;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.hero-img {
    /* width: % */
}

.hero-img img {
    float: right;
    width: 80%;
    
}

.scroll-btn{
    text-align: center;
    margin: 50px 0; 
}

/* PORTFOLIO SECTION */

.portfolio{
    padding: 100px 0;
}

.portfolio h2, .portfolio p{ 
    text-align: center;
    padding-bottom: 15px;
}

/* FOR TESTING */

.cards-list{
    margin: 5% 0;
    height: 18vw;
    display: flex;    
}

/* Set margin on sides of middle child (li)
so I don't ruin the white-space of portfolio card-container */
.card:nth-child(2){
    margin: 0 3%;
}

.card{
    /* card styling */
    background-color: rgba(117, 67, 255, 0.486); /* bg color can be DELETED */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    cursor: pointer;
}

/* Portfolio image addition to the cards */
#card-1{
    background-image: url("../Images/portfolio-item 1.png");
}
#card-2{
    background-image: url("../Images/portfolio-item 2.png");
}
#card-3{
    background-image: url("../Images/portfolio-item 3.png");
}

/* BIO SECTION */
.bio h2{
    text-align: center;
}

.bio-content{
    /* height: auto; */
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* max-height: 500px; */
}

.bio-img img{
    width: 500px;
    height: 500px;
}

.bio-img{
    background-image: url("../Images/70962189_2144933979143889_2989844919360684032_n.png");
    /* background-color: rgba(117, 67, 255, 0.527); bg color can be DELETED */
    background-size: contain;
    background-repeat: no-repeat;
    width:400px;
    height: 400px;
    border: 1px solid #4D1DD5;
    border-radius: 100%;

    margin-right: 50px;
    
}

.bio-text{
    display: flex;
    align-items: center;
    width: 70%;
    
    /* height: auto; */
    margin-left: calc( 200px - 15%);
    /* margin-top: 3%; */
}



/* CONTACT SECTION */
.contact h2{
   
}

.form-container div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
}

form{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 428px;
}

form input{
    height: 48px;
}

form textarea{
    height: 96px;;
}

.personal-info div{
    margin-top: 30px;
}

.personal-info{
    align-self: center;
}

.form-styling{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #4D1DD5;
border-radius: 5px;
opacity: 1;
padding-left: 20px;
}

/* Experimental */
.form-styling:hover{
    border: 2px solid #4D1DD5;
}

/*  - put :focus :hover states
    - margin below labels
    - align placeholders correctly in inputs
    - make some animations on click or on hover and on buttons
    - put the web icons below web (& animation on hover)
    - change the picture in the cirlce (make a new round picture.
    - Make the circle to be consistent and not an elipse when screen width changes.
    - Correct the hero section alignment, especially scroll button.

*/




@media only screen and (min-width : 768px) and (max-width: 1024px){
    html, body, *{
        font-size: 14px;
        background-color: rgb(118, 118, 182);
    }

    header{
        padding: 0 1em;
        margin: 0 50px;
    }

}

/* mobile view */
@media only screen and (min-width : 320px) and (max-width: 768px){

    html, body{
    }

    header{
        /* padding: 0 2em 1em 2em; */
        margin: 0 50px;
    }

    .nav-bar{

    }

    .nav-list{
        position: fixed;
        width: 60%;
        top: 0;
        right: 0;
        background-color: rgba(181, 154, 255, 0.753);
        height: 100%;
        z-index: 7;
        padding: 0 2em;
        /* padding-top: 1em; */
    }

    .hide-desktop{
        display: block;
        text-align: right;
    }

    .exit-btn{
        /* margin: 2.1em 3.5em; */
        margin: 30px 55px;
        text-align: right;
    }

    .exit-btn img:hover{
        cursor: pointer;
    }

    /* Sizing of exit button icon */
    .exit-btn img{
        /* height: 40px; */
    }

    .show-desktop{
        display: block;
        padding: 0;
    }

    header{
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
    }

    .hide-mobile{
        display: none;
    }

    .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1em 0;
    }

    .nav-link{
        padding: 0;
        margin: 0;
        color: #ebebeb;
    }

    .nav-item a:hover {
        font-weight: normal;
        color: #ebebeb;
        border: none;
    }
}