@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap');
/* General */
html{
    border-right: 5px solid #7443FF;
    overflow-x: hidden;
}

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.ta-center{
    text-align: center;
}

html, body, * {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    margin: 0;
    padding: 0;
}

main{
    width:71%;
    margin: 0 auto;
}

.show-desktop{
    display: block;
}

h2{
    font-size: 32px;
}

p{
    line-height: 2;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
}

main {
    padding: 0 5em 2em 5em; /* defining container whitespace */
}

/* Navigation */

.hide-desktop{
    display: none;
}

header {
    /* width: 85.4%; */
    margin:0 140px; /* defining container whitespace */
    height: 90px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

#brand{
    width: 50%;
    display: flex;
}

#myName{
    margin-left: 5%;
    letter-spacing: 5px;
}

.nav-bar {
   width: 500px;
   
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    width: 500px   
}

.nav-item { 
   display: block;
   text-align: right;
   white-space: nowrap;
   list-style-type: none;
   margin-left: 25px;
   letter-spacing: 1px;

   /* the % width of the nav items, combined with a fixed width of the nav-bar help with bold on hover alignment issue */
   width: 25%; 
}

.nav-item a{
    padding-bottom: 5px;
}

.nav-item a:hover {
    color: #7443FF;
    font-weight: 700;
    letter-spacing: 0.60px;
    /* text-shadow: 0.5px 0 1.5px rgb(104, 66, 207); */
    border-bottom: 3px solid #7443FF;

    /* text-shadow: 0 0 0.6px #7443FF, 0 0 0.6px #7443FF, 0 0 0.6px #7443FF, 0 0 0.6px #7443FF, 0 0 0.6px #7443FF, 0 0 0.6px #7443FF, 0 0 0.6px #7443FF, 0 0 0.6px #7443FF, 0 0 0.6px #7443FF; */

}


/* HERO SECTION */

/* Sets top and bottom padding for each section */
.section-wrapper{
    
}

.hero{
    /* height: 700px; */
    margin: 100px 0 150px 0;
    display: flex;
    justify-content: space-between;
    
}

.welcome-content{
    margin-right: 5%;
}

.welcome-content h1{
    padding: 80px 0 20px 0;
    font-size: 50px;
}

.welcome-content button{
    margin-top: 30px;
}

/* Call to action button styling */
.button{
    font-weight: bold;
    color: white;
    background-color: #7443FF;
    width:163px;
    height: 48px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero-img {
}

.hero-img img {
    float: right;
    width: 400px;
}

.scroll-btn{
    text-align: center;
    margin: 50px 0; 
}

/* PORTFOLIO SECTION */

.portfolio{
    padding: 100px 0;
}

.portfolio h2, .portfolio p{ 
    text-align: center;
    padding-bottom: 15px;
}

/* FOR TESTING */

.cards-list{
    margin: 5% 0;
    height: 18vw;
    display: flex;    
}

/* Set margin on sides of middle child (li)
so I don't ruin the white-space of portfolio card-container */
.card:nth-child(2){
    margin: 0 3%;
}

.card{
    /* card styling */
    background-color: rgba(117, 67, 255, 0.486); /* bg color can be DELETED */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    cursor: pointer;
}

/* Portfolio image addition to the cards */
#card-1{
    background-image: url("../Images/portfolio-item 1.png");
}
#card-2{
    background-image: url("../Images/portfolio-item 2.png");
}
#card-3{
    background-image: url("../Images/portfolio-item 3.png");
}

/* BIO SECTION */
.bio h2{
    text-align: center;
}

.bio-content{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bio-img img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.bio-text{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 15.6%;
}



/* CONTACT SECTION */
.contact h2{
   
}

.contact-content{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

.form-container{
    width: 500px;
}

.form-container div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    min-width: 300px;
}

form label{
    line-height: 2;
}

form input{
    height: 48px;
    /* margin-top: 5px; */
}

form textarea{
    padding: 20px;
    height: 96px;
}

.form-styling{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4D1DD5;
    border-radius: 5px;
    opacity: 1;
    padding-left: 20px;
}

.personal-info{
    align-self: center;
    margin-left: 50px;
}

.personal-info-section{
    margin-top: 20px;
}

.personal-info img{
    width: 40px;
    margin-top: 10px;
    margin-right: 20px;
}

.personal-info-section svg{
    width: 28px;
    height: 28px;
    fill: #3d3d3d;
    margin-top: 5px;
    margin-right: 10px;
    transition: 200ms ease-in-out;
}

.personal-info-section svg:hover{
    transition: 200ms ease-in-out;
    fill: #4D1DD5;
}



/* Experimental */
.form-styling:hover{
}

/*  - put :focus :hover states
    - margin below labels
    - align placeholders correctly in inputs
    - put the web icons below web (& animation on hover)
    - change the picture in the cirlce (make a new round picture.
    - Make the circle to be consistent and not an elipse when screen width changes.
    - Correct the hero section alignment, especially scroll button.

     - make some animations on click or on hover and on buttons

*/




@media only screen and (min-width : 768px) and (max-width: 1024px){
    html, body, *{
        font-size: 14px;
        background-color: rgb(118, 118, 182);
    }

    header{
        padding: 0 1em;
        margin: 0 50px;
    }

}

/* mobile view */
@media only screen and (min-width : 320px) and (max-width: 768px){

    html, body{
    }

    header{
        /* padding: 0 2em 1em 2em; */
        margin: 0 50px;
    }

    .nav-bar{

    }

    .nav-list{
        position: fixed;
        width: 60%;
        top: 0;
        right: 0;
        background-color: rgba(181, 154, 255, 0.753);
        height: 100%;
        z-index: 7;
        padding: 0 2em;
        /* padding-top: 1em; */
    }

    .hide-desktop{
        display: block;
        text-align: right;
    }

    .exit-btn{
        /* margin: 2.1em 3.5em; */
        margin: 30px 55px;
        text-align: right;
    }

    .exit-btn img:hover{
        cursor: pointer;
    }

    /* Sizing of exit button icon */
    .exit-btn img{
        /* height: 40px; */
    }

    .show-desktop{
        display: block;
        padding: 0;
    }

    header{
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
    }

    .hide-mobile{
        display: none;
    }

    .nav-item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1em 0;
    }

    .nav-link{
        padding: 0;
        margin: 0;
        color: #ebebeb;
    }

    .nav-item a:hover {
        font-weight: normal;
        color: #ebebeb;
        border: none;
    }
}